* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Open Sans', sans-serif;
}
input[type=text] {
  font-family: 'B612 Mono', monospace;
}

.navbar {
  display: flex;
  padding: 2vw;
}
.navbar .nav {
  display: flex;
  height: 10vh;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 600;
}
.navbar .nav i {
  display: flex;
  width: 2.5vw;
  height: 2.5vw;
  margin-right: 0.5vw;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  border: .1vw solid;
  border-radius: 100vw;
  color: #333;
}
.navbar .nav .label {
}

.body {
  display: flex;
  padding: 0 3vw;
  flex: 1;
}
.body .content {
  display: flex;
  padding-right: 3vw;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
.body .content .url {
  width: 100%;
  margin-bottom: 2vw;
  padding: 2vw;
  background-color: #F8F8F8;
  border: 0.1vw solid #EEE;
  border-radius: 100vw;
  font-size: 1.5vw;
  outline: none;
}
.body .content .url:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 1vw #42a5f5;
}
.body .content .results {
  width: 100%;
}
.body .content .results .result {
  padding: 0.5vw;
}
.body .content .results .result.highlight {
  background-color: #EEE;
}
.body > .button {
  display: flex;
  width: 10vw;
  height: 6.5vw;
  font-size: 2vw;
  color: #FFF;
  background-color: #66bb6a;
  justify-content: center;
  align-items: center;
}

.dock {
  display: flex;
}
.dock .arrow {
  display: flex;
  width: 3vw;
  justify-content: center;
  align-items: center;
}
.dock .arrow:hover {
  background-color: #DDD;
}
.dock .arrow:active {
  background-color: #000;
  color: #FFF;
}
.dock .tab {
  display: flex;
  height: 30vh;
  margin-right: 1vw;
  flex: 1;
  flex-direction: column;
}
.dock .tab .content {
  display: flex;
  background-color: #EEE;
  flex: 1;
  flex-direction: column;
}
.dock .tab:hover .content {
  background-color: #DDD;
}
.dock .tab.highlight .content {
  background-color: #5c6bc0;
  color: #FFF;
}
.dock .tab .content .header {
  display: flex;
  height: 2vw;
}
.dock .tab .content .header .label {
  display: flex;
  padding: 0 1vw;
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1;
  align-items: center;
}
.dock .tab .content .header .button {
  display: flex;
  width: 2vw;
  height: 2vw;
  background-color: #ef5350;
  color: #FFF;
  justify-content: center;
  align-items: center;
}
